[Desktop Entry]
Version=1.0
Name=defjay
GenericName=gg
Comment=test1
Exec=/usr/bin/vlc http://www.defjay.de/listen.pls
TryExec=/usr/bin/vlc
Icon=vlc
Terminal=false
Type=Application
Categories=AudioVideo;Player;Recorder;
