[Desktop Entry]
Version=1.0
Name=n joz internet radio
GenericName=gg
Comment=test1
Exec=/usr/bin/vlc http://www.ndr.de/resources/metadaten/audio/m3u/n-joy.m3u
TryExec=/usr/bin/vlc
Icon=vlc
Terminal=false
Type=Application
Categories=AudioVideo;Player;Recorder;
