[Desktop Entry]
Version=1.0
Name=raute techhouse
GenericName=gg
Comment=test1
Exec=/usr/bin/vlc http://techhouse-high.rautemusik.fm
TryExec=/usr/bin/vlc
Icon=vlc
Terminal=false
Type=Application
Categories=AudioVideo;Player;Recorder;
